<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Metroshoesmaagementsystem.Properties.Settings.MSMSdatabaseConnectionString"
            connectionString="Data Source=OSAMAJAVED-PC\SQLEXPRESS;Initial Catalog=MSMSdatabase;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>